
<div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
    <h3 style="color:#ffffff">Recent photography</h3>
    <ul>
        <li class="flickr-image no-1"><a title="Badlands Park" href="~/Home/About#photos">
            <img src="~/Content/Images/Landscapes/badlands_park.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/custer_national_forest.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Fossil_Hunting.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Tetons.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Backcountry_Beartooth_Absaroka.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Sunset_in_the_White_River_Valley.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Lake_Beautiful_Beartooth_Absaroka_Wilderness.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Walking_on_the_Moon.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Meadow_Twilight_in_the_White_River_Valley.jpg" /></a></li>
        <li class="flickr-image no-1">
            <a title="Badlands Park" href="~/Home/About#photos">
                <img src="~/Content/Images/Landscapes/Old_Rocks.jpg" /></a></li>
    </ul>
    <p>All photos © by <a href="https://www.behance.net/cock-a-doodle-doo" target="_blank" style="color:#ffffff"><strong>Elliot Ewert</strong></a>.</p>
</div>