@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="full_page_photo" style="top: 163px; background-image: url('../../Content/Images/View_Clipart/404.jpg');">
    <div class="container">
        <section class="call_to_action">
            <h3 class="animated bounceInDown"> OMG!<strong>error 401</strong>
            </h3>
            <h4 class="animated bounceInUp">we are really sorry but you don't have the right permissions to access this page.</h4>
        </section>
    </div>
</div>
<div class="main" style="top: 563px;">
    <section class="hgroup">
        <div class="container">
            <h1>Page not accessible</h1>
            <ul class="breadcrumb pull-right">
                <li class="active"></li>
            </ul>
        </div>
    </section>
    <section class="call_to_action four-o-four">
        <i class="fa fa-ambulance"></i>
        <div class="container">
            <h3>error 401 is nothing to really worry about...</h3>
            <h4>It just means that you don't have access to this part of the site. The admin wishes he could trust everybody, but this the internet, after all... </h4>
        </div>
    </section>
</div>