@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="bs-docs-section">
    <h1 id="shortcodes" class="page-header"><i class="fa fa-mail-reply"></i> @ViewBag.Title </h1>
</div>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
