@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="bs-docs-section">
    <h1 id="shortcodes" class="page-header"><i class="fa fa-smile-o"></i> @ViewBag.Title </h1>
</div>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
