
a {
    color: #ff8000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #333333;
    text-decoration: underline;
}

.btn-primary a,
.btn-primary a:hover {
    color: #fff;
    text-decoration: none;
}

/*Layout Title*/
.navbar a.navbar-brand span.logo_title {
    font-size: 36px;
    font-weight: 300;
    display: block;
    padding: 10px 0 0px 0;
    line-height: 42px;
    text-shadow: 3px 3px 0px #333333;
}

.navbar a.navbar-brand span.logo_subtitle {
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-shadow: 1px 1px 0px #333333;
}

/*Navbar*/
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.navbar .nav li a {
    margin: 0 3px;
    text-transform: uppercase;
    background-color: transparent !important;
    border-bottom: solid 1px transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #ffffff;
}

.navbar .nav li a:active, .navbar .nav li a:hover {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    border-bottom: solid 4px #ffffff;
    color: #ffffff;
}

.navbar .nav li.active a, .navbar .nav li.active a:hover {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    border-bottom: solid 4px #ffffff;
    color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

/*Navbar mobile*/
.in ul.nav li.active a, .in ul.nav li.active a:hover {
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
}

.in ul.nav li a:hover, .in ul.nav li a:active {
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
}

/*Dropdown menu*/
.navbar .nav .dropdown-menu li:hover, .navbar .nav .dropdown-menu li:active {
    background-color: #ff8800;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    border-bottom: solid 0px #ff8800;
    color: transparent;
}

.navbar .nav .dropdown-menu li.active a {
    color: #333333;
    border-bottom:0px;
}

.navbar .nav .dropdown-menu li a:active, .navbar .nav .dropdown-menu li a:hover {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.067);
    border-bottom: solid 0px #ffffff;
    color: #ffffff;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

/*Username Crumb Display*/
#username_crumb {
  position: absolute;
  top: 7px;
  right: 225px;
  font-size: 12px;
  z-index: 101;
  height: 50px;
  line-height: 40px;
  padding-right: 10px;
}

#username_crumb i span a {
  color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logoff_crumb {
  position: absolute;
  top: 7px;
  right: 150px;
  font-size: 12px;
  z-index: 101;
  height: 50px;
  line-height: 40px;
  padding-right: 10px;
}

/*Social Media Wrapper*/
.spacing #social_media_wrapper {
    position: relative;
    background: #ffffff;
}

.spacing #social_media_wrapper a {
    color: #428bca;
}
.spacing #social_media_wrapper a:hover,
.spacing #social_media_wrapper a:active {
  text-decoration: none;
  color: #fff;
  background: #428bca;
}

#social_media_wrapper {
  background: #ff8000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 101;
  overflow: hidden;
  padding: 10px;
}

#social_media_wrapper a {
  text-align: center;
  display: block;
  float: left;
  margin: 0 3px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding: 6px;
  -webkit-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

#social_media_wrapper a i {
  vertical-align: top !important;
}

#social_media_wrapper a:hover,
#social_media_wrapper a:active {
  text-decoration: none;
  color: #fff;
  background: #ff8000;
}

/*Flexslider*/
.flexslider .container .carousel-caption {
    position: relative;
}

/*Easing Captions*/
.portfolio_strict .portfolio_item figure figcaption h3 {
    padding: 10px 20px;
    color: #aaa;
    font-weight: 300;
    font-size: 28px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
    opacity: 0;
}

.portfolio_strict .portfolio_item a:hover figcaption h3 {
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
    transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition: opacity 0s, transform 0.3s;
    transition-delay: 0.05s;
    -ms-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    color: #fff;
    font-weight: 400;
}

/*Social Logins*/
.social_sign button {
    text-align: center;
    display: inline-block;
    margin: 0 8px;
    border: 0px;
    border-radius: 50%;
    font-size: 30px;
    width: 66px;
    height: 66px;
    line-height: 30px;
    padding: 18px;
    /*-webkit-transition: all 100ms linear;*/
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.social_sign button:hover {
    transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.social_sign button:link, 
.social_sign button:visited {
    color: #ffffff;
}

.social_sign button:hover {
    color: #ffffff;
}

.social_sign button.Facebook {
    background-color: #3B5998;
}

.social_sign a:hover,
.social_sign a:focus {
    color: #fff;
}

.fa-Facebook:before {
  content: "\f09a";
}

.social_sign button.Google {
    background-color: #E44B39;
}

.fa-Google:before {
  content: "\f0d5";
}

.social_sign button.Twitter {
    background-color: #00ACEE;
}

/*Blog Index*/
article.post .post_content figure {
    max-height: initial;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.img-responsive, 
.thumbnail > img, 
.thumbnail a > img, 
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
    max-height: initial;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
}

/*Blog Sidebar Feed*/
#sidebar li.media a.media-date {
    text-shadow: 1px 1px 0px #333;
}

#sidebar li.media a.media-date:hover {
    /*color: #ff8000;*/
    text-shadow: 1px 1px 0px #333;
    opacity: 100;
}

li.media h3 a {
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 0px #333;
}

.in ul.nav li a:hover, 
.in ul.nav li a:active {
    color: #ff8000;
}

/*Blog Footer Feed*/
li.media {
    background-color: #428bca;
    border: solid 3px;
    border-color: #428bca;
    border-radius: 7px 7px 7px 7px;
}

footer a {
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 0px #333;
}

footer a:hover,
footer a:active {
    color:#ff8000;
}

li.media h4.media-heading {
    margin: 5px 0 0 75px;
}

#footer_teasers_wrapper .footer_teaser p {
    color: #fff;
    margin: 0 0 0 75px;
}

#sidebar aside.widget .tab-pane ul {
    list-style-type: none;
    -webkit-padding-start: 10px;
}

#sidebar aside.widget .tab-pane img {
    max-width: 150px;
    border-radius: 7px;    
}

/*li.media a.media-date {
    border-left: solid 0px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
}*/
