@{
    ViewBag.Title = "Home";
}

<!--CtA-->
<section class="call_to_action">
    <div class="container">
        <h3>Good design & development go hand-in-hand</h3>
        <br />
        <a class="btn btn-primary btn-lg" href="~/Home/Portfolio">View my full portfolio</a>
    </div>
</section>

<!--Portfolio Teaser-->
<section class="portfolio_teasers_wrapper">
    <div class="container">
        <h2 class="section_header fancy centered">Some of my recent work<small>...and maybe a few photos</small></h2>
        <div class="portfolio_strict row">
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX">
                    <a href="~/Home/Portfolio#bugtracker" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image: url('../../Content/images/view_clipart/bug.jpg'); border-radius: 6px">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <h3>COMING SOON</h3>
                                <div class="view_button">This solution is still in progress.</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="~/Home/Portfolio#bugtracker">Bug Tracker</a></h3>
                        <p>ASP.NET MVC</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 co l-md-4">
                <div class="portfolio_item wow animated flipInX">
                    <a href="~/Home/Portfolio#carfinder" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image: url('../../Content/images/view_clipart/hoopti.JPG'); border-radius: 6px">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <h3>COMING SOON</h3>
                                <div class="view_button">This solution is still in progress.</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="~/Home/Portfolio#carfinder">Car Finder</a></h3>
                        <p>Web Services</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX">
                    <a href="~/Home/Portfolio#finance" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image: url('../../Content/images/view_clipart/wallet_money.JPG'); border-radius: 6px">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <h3>COMING SOON</h3>
                                <div class="view_button">This solution is still in progress.</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="~/Home/Portfolio#finance">Personal Finance Manager</a></h3>
                        <p>Database Integrations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Clients Teaser-->
<section class="clients_section wow animated fadeInUp">
    <div class="container">
        <h2 class="section_header elegant centered"><strong>Technologies That I've work with:</strong></h2>
        <div class="clients_list">
            <a href="http://boulevarddigital.com/portfolio/" target="_blank"><img src="~/Content/images/technology_logos/html_css_js (140x82).jpg" alt="Html/CSS/JS"></a>
            <a href="http://boulevarddigital.com/portfolio/" target="_blank"> <img src="~/Content/images/technology_logos/Wordpress (140x70).jpg" alt="WordPress"></a>
            <a href="http://elliotewert.com" target="_blank"><img src="~/Content/images/technology_logos/Less (140x57).jpg" alt="{Less}"></a>
            <a href="http://www.agilx.com/our-work/" target="_blank"> <img src="~/Content/images/technology_logos/AngularJS (140x79).jpg" alt="AngularJS"></a>
            <a href="http://www.agilx.com/our-work/" target="_blank"><img src="~/Content/images/technology_logos/CsharpDotNet (140x70).jpg" alt="C# .NET"></a>
        </div>
    </div>
</section>
