
@{
    ViewBag.Title = "Résumé";
}

<h1 class="page-header"><i class="fa fa-paperclip"></i> My Résumé </h1>
<div class="bs-docs-section">
    <p>
        I have experience working in all five stages of the mobile & web app production process, as well as managing the business operations that make it possible. My past work includes:
        <ul>
            <li>Marketing-oriented website design</li>
            <li>Sales, contracts negotiation & accounts management</li>
            <li>Project scoping & user story creation</li>
            <li>UI mockups and graphics collateral creation</li>
            <li>Agile/SCRUM-based project management</li>
            <li>QA testing & app store deployment</li>
            <li>Personnel, technology & budget resource management</li>
        </ul>
        I am seeking entry-level opportunities offering future growth into roles like project management, UI architecture design, or growth hacking/business development.
    </p>
    <p>For a more detailed look at my experience, click the button below to download a PDF copy of my résumé, or visit me on <a href="https://www.linkedin.com/in/elliotewert" target="_blank">LinkedIn</a>. </p>
</div>
<section class="call_to_action">
    <div class="container">
        <a class="btn btn-primary btn-lg" href="~/Content/images/view_clipart/Elliot Ewert Résumé Professional.docx.pdf" target="_blank">Download Résumé</a>
    </div>
</section>

