
@{
    ViewBag.Title = "Résumé";
}

<h1 class="page-header"><i class="fa fa-paperclip"></i> My Résumé </h1>
<div class="bs-docs-section">
    <p>
        In addition to my technical expertise, I am a seasoned business, projects, and personnel manager with experience working at all stages of the mobile & web app production process. My past work includes:
        <ul>
            <li>Web-based application design and development</li>
            <li>Marketing-oriented website design</li>
            <li>Sales, contracts negotiation & accounts management</li>
            <li>Project scoping & user story creation</li>
            <li>UI mockups and graphics collateral creation</li>
            <li>Agile/SCRUM-based project management</li>
            <li>QA testing & app store deployment</li>
            <li>Personnel, technology & budget resource management</li>
        </ul>
        I am seeking either technical project manager roles, or entry-level developer opportunities that offer future growth into positions project management, UI architecture design, or growth hacking/business development            
    </p>
    <p>For a more detailed look at my experience, click the button below to download a PDF copy of my résumé, or visit me on <a href="https://www.linkedin.com/in/elliotewert" target="_blank">LinkedIn</a> and <a href="https://careers.stackoverflow.com/elliotewert" target="_blank">Stack Overflow Careers</a>. </p>
</div>
<section class="call_to_action">
    <div class="container">
        <a class="btn btn-primary btn-lg" href="~/Content/images/view_clipart/Elliot Ewert Résumé Professional.docx.pdf" target="_blank">Download Résumé</a>
    </div>
</section>

