
@{
    ViewBag.Title = "Résumé";
}

<h1 class="page-header"><i class="fa fa-paperclip"></i> My Résumé </h1>
<div class="bs-docs-section">
    <p>
        My dream job and perfect skill fit would be serving as Growth-Hacker-in-Chief for your recently-seeded startup (why waste all that hard-earned investor money on a COO, CTO AND CMO when you could pay one person to have all three skill sets?). But back in the real world, I'm banking on my recent experience as a mobile app project manager to land something interesting. Here's a modest list of my tech skills:

        <ul>
            <li>Web-based application design and development</li>
            <li>Marketing-oriented website design</li>
            <li>Sales, contracts negotiation & accounts management</li>
            <li>Project scoping & user story creation</li>
            <li>UI mockups and graphics collateral creation</li>
            <li>Agile/SCRUM-based project management</li>
            <li>QA testing & app store deployment</li>
            <li>Personnel, technology & budget resource management</li>
        </ul>
    I'm specifically looking roles with names like "front-end developer", "UX/UI designer", "technical project manager", or even <a href="http://stackify.com/job-listings/sales-engineer/">"sales engineer"</a> (what a beaut!). For being a developer, I have pretty amazing people skills (I also get along great with office dogs). Call me direct if you want to skip the email inbox shuffle: 617.821.0388.
            <p>For a more detailed look at my experience, click the button below to download a PDF copy of my résumé, or visit my <a href="https://www.linkedin.com/in/elliotewert" target="_blank">LinkedIn</a> and <a href="https://careers.stackoverflow.com/elliotewert" target="_blank">Stack Overflow Careers</a> to get this exact same information. </p>
</div>
<section class="call_to_action">
    <div class="container">
        <a class="btn btn-primary btn-lg" href="~/Content/images/view_clipart/Elliot Ewert Résumé Professional.docx.pdf" target="_blank">Download Résumé</a>
    </div>
</section>

